#projects{
    padding:0
}
.projects__container {
    padding: 0 6rem;
}
.projects__card{
    border:1px solid transparent;
    border-radius:.5rem;
    padding:2rem;
}

.projects__cloud span{
    padding-right:1rem;
    
}
.projects__responsive{
    display:none;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    .projects__container {
        display:none;
    }
    .projects__responsive {
        display:block;
    }
}

