#projects{
    padding:0
}
.projects__container {
    padding: 0 6rem;
}
.projects__card{
    border:1px solid transparent;
    border-radius:.5rem;
    padding:4rem 6rem;
}
.projects__card h5{
    margin-bottom:2rem;
}
.projects__cloud{
margin-top:2rem;
}
.projects__cloud span{
    border:1px solid #333;
    background-color:white;
    border-radius: 1rem;
    padding:1rem;
    margin:.5rem
}
.projects__responsive{
    __display:none;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    .projects__container,.projects__cloud {
        display:none;
    }
    .projects__card{
        display:block;
        width:80vw;
        padding:12px;
    }
}

