.tabsList__container{
    background-color: #eee;
    padding:2rem;
    text-align: left;
    
}
.tabsList__card h5{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.tabsList__desc{
    text-align: left;
}

.tabsList__container .projects__container p {
    text-align: left;
    margin-bottom: 2rem;
  }

  .tabsList__cloud{
    margin-top:2rem;
    font-weight:bold
  }
 .tabsList__cloud span{
    padding-right:2rem;
    font-weight:bold
  }

  @media screen and (max-width:1024px){
    .nav__container .nav__menu:nth-child(2){
        display:none
    }
  }