.contact__container{
    padding-bottom:0px
}

.contact__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contact__container a {
    font-size: 1.2rem;
    margin-bottom:1rem
}

.contact__container a:hover {
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
    transform: translateY(-0.5rem);
}



/* MEDIA QUERIES (phones) */
@media screen and (max-width: 1024px) {
    .contact__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
       
    }
    .contact__container a {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .contact__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        display:block;
    }
    .contact__container a {
        width: 90%;
    }
}